## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
import random
sample_list_1 =[]
random.sample(range(0,100), 80)
sample_list_1 = random.sample(range(0,100), 80)
print(sample_list_1)

[29, 27, 17, 47, 75, 37, 12, 66, 33, 86, 98, 43, 90, 57, 71, 93, 88, 78, 5, 67, 72, 79, 87, 8, 13, 21, 83, 36, 58, 31, 81, 92, 84, 49, 35, 23, 38, 96, 85, 59, 14, 2, 30, 74, 69, 91, 99, 20, 77, 53, 45, 65, 94, 54, 39, 3, 55, 11, 89, 60, 7, 50, 15, 42, 25, 40, 16, 0, 32, 70, 28, 41, 64, 97, 73, 62, 51, 76, 10, 24]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
set1 =set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
sample_list_2 =[]

for i in range (0,80):
    sample_list_2.append(i)
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
type(set2)

80

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
set3 = set1.difference(set2)
print(set3)

{96, 97, 98, 99, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
set4 = set2.difference(set1)
print(set4)

{1, 34, 4, 68, 6, 9, 44, 46, 48, 18, 19, 52, 22, 56, 26, 61, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
80
17
17
63

#### Create an empty set called `set6`.

In [13]:
set6=set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [14]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [15]:
s = set1.difference(set6) 
print(s)

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
s12 = set1.issubset(set2) 
print(s12)

s13 = set1.issubset(set3) 
print(s12)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
s345 = set3.union(set4,set5) 
s12 = set1.union(set2) 

sunion = s345.difference(s12) 
print(sunion)

set()

#### Using the `pop` method, remove the first element from `set1`.

In [22]:
lset1=[]
lset1 = list(set1)
 
lset1.pop(0)

set1 =set(lset1)
print(f'lenght of set1 : {len(set1)}')

lenght of set1 : 79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [28]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [29]:
slist_to_remove=set(list_to_remove)
print(set1-slist_to_remove)

{0, 2, 3, 5, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 23, 24, 25, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45, 47, 50, 53, 54, 55, 57, 58, 60, 62, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}